* {
    padding: 0;
    margin: 0;
}

.caixa h2{
    padding: 1.5em 2em 1em 2em;
}

.duvidas {
    margin: 0 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 2em;
}

.caixaDuvidas {
    background-color: #fff;
    width: 45%;
    height: auto;
    min-height: 10em;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}

.caixaDuvidas h3{
    font-weight: 700;
}

.caixaDuvidas .nome{
    font-weight: 500;
}

.caixaDuvidas .dia{
    color: #3a4a68;
    margin-top: 2px;
}

.btn{
    margin-right:2em ;
     margin-top: auto;
}

.botoes {
    border-radius: 13px;
    background-color: #e2b354;
    border: none;
    height: 2em;
    width: 15%;
    margin-right: 1.5;
    cursor: pointer;
    margin-bottom: auto;
}

.botoes:hover{
    background-color: #3a4a68;
    color: #fff;
    transition: 0.3s;
}

/*MODAL*/

dialog{
    width: 50%;
    height: 30%;
    padding: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
}

dialog form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    text-align: center;
}


dialog .btnModal{
    display: flex;
    flex-direction: row;
    gap: 3em;
}

dialog .botoesModal {
    width: 7em;
    height: 2em;
    border: none;
    border-radius: 13px;
    color: #fff;
    background-color: #3a4a68;
    cursor: pointer;
}

dialog .botoesModal:hover {
    color: #3a4a68;
    background-color: #e2b354;
    transition: 0.3s;
}
