body {
    text-align: center;

}

#botao {
    background-color: #b9d1f0;
    color: #222;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

#botao:hover {
    background-color: #3a4a69;
    color: #fff;
}

.caminho{
text-decoration: none;
color: #E2B354;
left: 50%;
transform: translate(-50%);
font-size: 13px;
position: fixed;
bottom: 0;
}