@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    text-align: center;
    font-family: "Poppins", sans-serif;

}

#audio {
    width: 300px;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
#lista-musicas {
    width: 70%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.tabela-musicas th,
.tabela-musicas td {
    padding: 14px 16px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.tabela-musicas th {
    background-color: #3a4a69;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.linha-musica:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.linha-musica.ativa {
    background-color: #e2f0ff;
    font-weight: bold;
}
