.home {
    min-height: 100vh;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    left: 0;
    position: relative;
}

.centro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.quadro-infos {
    background-color: #fff;
    border-radius: 1em;
    width: 50em;
    max-width: 992px; /* equivalente a 62em */
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
}


.titulo-caixa {
    font-size: 1.8rem;
    color: #3A4A68;
    margin-bottom: 1rem;
}

.titulos-labels{
    font-size: 1rem;
    color: #3A4A68;
    text-align: left;
    margin-bottom: 0.3rem;
}

.placeholder {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #EDCA85;
    border-radius: 8px;
    background: rgba(237, 202, 133, 0.1);
    color: #3A4A68;
    margin-bottom: 1rem;
}

.edit{
      font-family: 'poppins';
      font-weight: bold;
      padding: 10px 40px;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      color: white;
      background-color: #3E6985;
      
}

.edit:hover{
    background-color: #0D273D;
}

.delete{
      font-family: 'poppins';
      font-weight: bold;
      padding: 10px 40px;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      color: white;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: #617891;

}

.delete:hover{
    background-color: #0D273D;
}

.logout{
      font-family: 'poppins';
      font-weight: bold;
      padding: 10px 40px;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      color: white;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: #3A4A68;
}

.logout:hover{
    background-color: #0D273D;
}

.swal2-popup {
  background-color: #FEFEFE;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-family: Arial, sans-serif;
}

.swal2-title {
  color: #3A4A68;
  font-size: 1.5rem;
  font-weight: bold;
}

.swal2-content {
  color: #555;
  font-size: 1rem;
}

.swal2-confirm {
  background-color: #3A4A68 !important;
  border: none !important;
  border-radius: 25em !important;
  padding: 8px 20px !important;
}

.swal2-cancel{
  background-color: #E2B354 !important;
  border: none !important;
  border-radius: 25em !important;
  padding: 8px 20px !important;
}

@media (max-width: 600px) {
    .quadro-infos {
        padding: 1.5rem;
    }

    .titulo-caixa {
        font-size: 1.5rem;
    }

    .titulos-labels h2 {
        font-size: 0.9rem;
    }

    .button-submit {
        width: 100%;
    }
}

.caminho{

font-size: 13px;
position: fixed;
bottom: 0;
}

