@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.conteiner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.conteudo1{
    margin-left: 30px;
    margin-top: 30px;
}

h2{
    margin-bottom: 5px;
    letter-spacing: 3px;
}

#modal {
    padding: 12px 20px; 
  background-color: #fff;
  color: rgb(25, 18, 18);
  border: none;
  border-radius: 10px; 
  box-shadow:  8px 16px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  cursor: pointer;
}

.conteudo2{
    display: flex;
    margin: 25px;
    width: 94%;
    padding: 15px;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 43px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.cartao {
    width: 180px;
    height: 200px;
    background-color: #fbf9f9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  7px 10px rgba(0, 0, 0, 0.2);
}

.titulo{
    height: 30px;
    background-color: #F9D57F;
    width: 100%;
    height: 30px;
    padding: 4px;
    text-align: center;
    border-radius: 5px;
}

.texto{
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    font-size: 0.95rem;
}

#editar{
  padding: 9px 10px; 
  background-color: #F9D57F;
  color: rgb(25, 18, 18);
  border: none;
  border-radius: 10px; 
  font-size: 1rem;
  cursor: pointer;
}

dialog::backdrop{
    background-color: rgb(0 0 0 / .2);
}

dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border: none;
    border-radius: 15px;
    width: 80%;
}


dialog form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
  
  dialog p {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  dialog label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  dialog input[type="radio"] {
    margin-right: 5px;
  }
  
  dialog input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: "Poppins" ,sans-serif;
    height: 150px;
    resize: vertical;
  }
  
  dialog button {
    padding: 12px 20px; 
    background-color: #F9D57F;
    color: rgb(25, 18, 18);
    border: none;
    border-radius: 10px; 
    font-size: 1rem;
    cursor: pointer;
    width: 90%;
  }


  /* daily editar*/

  .cartao-editar{
    width: 100%;
    height: auto;
    background-color: #fbf9f9;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  7px 10px rgba(0, 0, 0, 0.2);
  }

  .cartao-editar form {
    align-self:center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 0;
    padding: 20px;
  }

  .cartao-editar label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .cartao-editar  input[type="radio"] {
    margin-right: 5px;
  }
  
  .cartao-editar .texto-daily {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: "Poppins" ,sans-serif;
    height: 150px;
    width: 63rem;
    resize: vertical;
  }

  .cartao-editar button{
      align-self: flex-start;
      padding: 12px 20px; 
      background-color: #F9D57F;
      color: rgb(25, 18, 18);
      border: none;
      border-radius: 10px; 
      font-size: 1rem;
      cursor: pointer;
      width: 10%;
      margin: 1px 0;
    }

    .botao12{
      align-self: flex-start;
      position: relative;
      margin-left: 30px;
      margin-bottom: 20px; 
      background-color: #F9D57F;
      color: rgb(25, 18, 18);
      border: none;
      border-radius: 10px; 
      cursor: pointer;
      left: 0;
    }
  
  