.home{
    padding: 50px;
    height: 100vh;
    position: relative;
    justify-content: center;
    text-align: center;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    display: flex;
}

.quadro-infos{
    height: 500px;
    width: 1000px;
    background-color: #F2D6A1;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    margin-top: 4em;
}

.titulo-caixa{
    margin-top: 0.3em;
    font-size: 2em;
}

.titulos-labels{
    padding: 2em;
    text-align: left;

}

.placeholder{
    background-color: rgb(255, 255, 255);
    padding: 1em;
    border-radius: 0.5em;
}

.edit{
    width: 100px;
    height: 50px;
    border-radius: 1em;
    text-decoration: none;
    background-color: #b9d1f0;
    border: none;
    color: white;
}

.delete{
    width: 100px;
    height: 50px;
    border-radius: 1em;
    background-color: #632024;
    border: none;
    text-decoration: none;
    color: white;
}

.logout{
    width: 100px;
    height: 50px;
    border-radius: 1em;
    background-color: #809076;
    border: none;
    text-decoration: none;
    color: white;
}